$principalColor: #222831;
$secondColor: #30475e;
$thirdColor: #e50914;
$fourthColor: #ececec;
.wrapperLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(22, 33, 62);
  background: linear-gradient(
    43deg,
    rgba(22, 33, 62, 1) 25%,
    rgba(26, 26, 46, 1) 75%
  );
  min-width: 100vw;
  min-height: 100vh;
  .wrapperForm {
    text-align: center;
    .wrapperTitle {
      color: $fourthColor;
      margin-bottom: 2rem;
    }
    .Form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
