$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #e50914;
$thirdColorDegradado: #8f141a;
$fourthColor: #ececec;
.input {
  width: 340px;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  box-sizing: border-box;
  margin: 0.6rem 0;
}
.input:focus {
  background-color: $principalColor;
  color: $fourthColor;
}
