$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #e50914;
$thirdColorDegradado: #8f141a;
$fourthColor: #ececec;

.button {
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  padding: 0.3rem 2rem;
  box-sizing: border-box;
}
.register {
  @extend .button;
  background-color: $secondColor;
  transition: background-color 0.3s;
}
.register:hover {
  background-color: $secondColorDegradado;
}
.login {
  @extend .button;
  background-color: $thirdColor;
  transition: background-color 0.3s;
}
.login:hover {
  background-color: $thirdColorDegradado;
}
.play {
  @extend .button;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 2rem;
  background-color: $secondColor;
  color: $fourthColor;
  transition: background-color 0.3s;
}
.play:hover {
  background-color: $thirdColor;
}
.search {
  @extend .button;
  background-color: transparent;
  border: 2px solid $thirdColor;
  color: $thirdColor;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  outline: none;
  transition: background-color 0.3s;
}
.search:hover {
  background-color: $thirdColorDegradado;
  color: $fourthColor;
}
@media (min-width: 360px) {
  .button {
    margin: 1.5rem 0;
  }
  .play {
    @extend .button;
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.6rem;
    background-color: $secondColor;
    color: $fourthColor;
  }
}
