$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #f2a365;
$thirdColorDegradado: #d16410;
$fourthColor: #ececec;
.wrapperHero {
  box-sizing: border-box;
  padding: 2rem 3rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .wrapperSubtitle {
    color: $fourthColor;
    max-width: 340px;
  }
  .wrapperTitle {
    color: $fourthColor;
    max-width: 340px;
  }
  .wrapperButtons {
    display: flex;
    max-width: 340px;
    box-sizing: border-box;
    margin: 1.3rem 0;
    justify-content: space-between;
  }
  .wrapperExtraInfo {
    color: $fourthColor;
    margin: 1rem 0;
    font-size: 1.3rem;
    max-width: 340px;
  }
  .wrapperDescription {
    color: $fourthColor;
    font-size: 1.1rem;
    max-width: 340px;
    margin: 3rem 0;
  }
}
