$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #e50914;
$thirdColorDegradado: #8f141a;
$fourthColor: #ececec;
.wrapperSeason {
  display: flex;
  justify-content: flex-start;
  padding: 5rem 1rem 1rem;
}
.wrapperEpisodes {
  padding-bottom: 2rem;
}
