$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #e50914;
$thirdColorDegradado: #8f141a;
$fourthColor: #ececec;
.wrapperNav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $principalColor;
  z-index: 10;
  .wrapperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    .wrapperMenuHambuerguesa {
      display: none;
    }
  }
  .wrapperNavBar {
    box-sizing: border-box;
    margin-right: 1rem;
  }
}
@media (max-width: 768px) {
  .wrapperNav {
    display: block;
    box-sizing: border-box;
    .wrapperHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      .wrapperMenuHambuerguesa {
        display: block;
      }
    }
  }
}
