$principalColor: #222831;
$secondColor: #30475e;
$secondColorDegradado: #1f7ddb;
$thirdColor: #e50914;
$thirdColorDegradado: #8f141a;
$fourthColor: #ececec;
.Search {
  width: 340px;
  border: 2px solid $thirdColor;
  background-color: transparent;
  color: $thirdColor;
  border-radius: 3rem;
  padding: 0.6rem 0;
  font-size: 1rem;
  text-align: center;
  outline: none;
}
.Search::placeholder {
  color: $thirdColor;
}
